.add-item-panel {
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-right: 2em;
}

.add-item-panel .add-item-input {
  border-radius: 0.25rem;
  border: 1px solid rgb(223, 223, 223);
  padding: 0.3rem;
  width: 90%;
}
